@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');

:root {
  --body_bg: #1E213F;
  --font_color: #D7E0FF;
  --dark_blue: #161932;
  --white: #fff;
  --primary: #F87070;
  --blue: #70f3f8;
  --purple: #d881f8;
  --font_style: 'Kumbh Sans',
    sans-serif;
}

* {
  font-family: var(--font_style) !important;
}


[data-color="blue"] {
  --primary: var(--blue);
}

[data-color="purple"] {
  --primary: var(--purple);
}

[data-font="slab"] {
  --font_style: 'Roboto Slab',
    serif !important;
  ;
}

[data-font="mono"] {
  --font_style: 'Space Mono',
    monospace !important;
  ;
}

.CircularProgressbar-path {
  stroke: var(--primary) !important;
}